@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,200;1,400&family=Mulish:wght@200;300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Josefin Slab", serif;
    --font-actions: "Muli", serif;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform 1s;
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .6rem);
}

.show-menu #line3 {
    transform: rotate(135deg) translate(-.21rem, .3rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font-actions);
    background-color: #a044ff;
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-left: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;

}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation: zoom 14s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 300;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    line-height: 4rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 2s 0.5 forwards;
}

.banner p {
    font-family: --font-secondary;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 2s 0.7 forwards;
}

.banner button {
    font-family: var(--font-actions);
    color: #000000;
    background: #c94b4b;
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    background: linear-gradient(to right, #4b134f, #c94b4b);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 2s 0.9 forwards;
}

.banner button:hover {
    color: rgb(116, 117, 173);
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 1s;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
}

.menu-link {
    font-family: var(--font-actions);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover {
    color: #800040;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: #555;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: color 1s;
}

.social-media i:hover {
    color: #800040;
}